.sidebar{
  display:flex;
  flex-direction: column;
  min-width: 230px;
  color:rgb(168,168,168);
  flex: 0.2;
  padding: 0 10px;
  background: #121212;
  padding: 0 20px;
  &__img{
    object-fit: contain;
    margin-right: auto;
    height: 110px;
    width: 140px;
  }
  > strong {
    margin-top: 15px;
    font-size: 13px;
  }
  > hr {
    background-color: #282828;
    border: none;
    height: 1px;
    margin: 15px auto;
  }
}